.featured-item{
    background: url('../../../assets/home/chef-service.jpg');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #151515a9;
    background-blend-mode: overlay;
}